<h1 align="center">Listing all Articles</h1>
<div align="center">
  <%= will_paginate%>
</div>
<%= render partial: 'article', locals: { obj: @articles } %>
<div align="center">
  <%= will_paginate%>
</div>
